.container{
    width: 100%;
    height: 100vh;
    background: black;
    display:grid;
    text-align: center;
    padding: 5px;
    position: absolute;

    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;

    grid-template-areas: 
    
    "nav nav"
    "main main"
    "footer footer"
    ;

}

nav{
    color: white;
    background: gray;

    grid-area: nav;
}

main{
    color: white;
    background: rgb(127, 46, 46);

    grid-area: main;

}

.cart{
    color: white;
    background: palevioletred;

    grid-area: cart;
    position: absolute;
    top: 19%;
    right: 10px;

    height: 470px;
    width: 600px;

/* display should be set to none and toggled on when a product is added to the cart */
    display: none;
}

.footer{
    color: white;
    background: rgb(124, 12, 49);

    grid-area: footer;

}

